/*/// Fonts Setup ///*/

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lora');

*{
    font-family: 'Lora', serif;
}

h1,h2,h3{
font-family: 'Kaushan Script', cursive;
}

/*/// Fluid Elements ///*/

img,iframe{
    width:100%;
    max-width: 100%;
}
p{
    line-height: 1.6em;
    color: #767676;
}
/*/// Anchor  tag general styles ///*/

a{
    text-decoration: none;
    color:#333;
    outline: none;
}


a:active{
    color: #333;
}

.container{
    width:90%;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: auto;
    margin-left: auto;
}

/*//// General classes media queries  ///*/


