.carousel.carousel-slider{
    max-width: 1300px;
    margin: 0 auto;
}
 
 .imgSlide{
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}
.carousel .slide{
    background-color: #fff;
}
#root > div > div > section:nth-child(1) > div > div > ul > li{
    outline: none;
}

.carousel.carousel-slider .control-arrow:hover{
    background: none;
}
.carousel .control-prev.control-arrow:before {
    border-right: 32px solid #000;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}
.carousel .control-next.control-arrow:before {
    border-left: 32px solid #000;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}


/*/// Media Queries ///*/

@media (min-width: 320px){
.carousel-slider {
    width: 100%;
    padding: 0 1.5%;
}}
@media (min-width: 768px){
.carousel-slider {
    width: 100%;
    padding: 0 2%;
}}
@media (min-width: 1440px){
.carousel-slider {
    width: 1440px;
}}
